/* General header styling */
.header {
	padding: 5px;
	border: 2px solid black;
	display: flex;
	justify-content: space-between;
	/* align-items: flex-start; */
}

/* Logo styling */

.logo{
	padding: 5px;
	max-height: 130px;
}

.logo img {
	object-fit: contain;
	max-width: 200px;
}

/* Container */
.container{
	display: flex;
	flex-grow: 1; 
	flex-direction: column;  
	justify-content: space-between;
	padding-bottom: 15px;
	padding-left: 10px;
}


/* Welcome text */
.welcome {
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
	color: #666;
	border: 2px black solid;
	background-color: antiquewhite;;
}

/* Navigation bar styling */
.nav {
	width: 100%;
	display: flex;
	/* padding: 10px; */
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #b29494;
	border: 2px solid black;
}

.navList {
	flex: 1;
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 30px;
	margin: 0;
	padding: 0;
}

.navList li {
	padding: 5px 10px;
	font-size: 16px;
	text-align: center;
	border: 2px solid black;
}

.navList li:hover {
	background-color: #0077cc;
	cursor: pointer;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
	.logo-text {
		font-size: 20px;
	}

	.nav-list {
		gap: 20px;
	}

	.nav-list li {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.logo-text {
		font-size: 18px;
	}

	.nav-list {
		gap: 15px;
		flex-direction: column;
	}

	.nav-list li {
		font-size: 16px;
	}
}
