.container {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: left;
    margin-bottom: 1.5rem;
    color: var(--foreground);
    font-weight: bold;
    font-size: 30px;
}

.intro {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #555;
}

.subtitle {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--foreground);
}

.text {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
}

.list {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

.list li {
    margin-bottom: 0.5rem;
    color: #555;
}