/* Container bao bọc cả SearchBar và Button */
.container{
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin: auto;
}

.searchbar {
    display: flex;
    margin-bottom: 1.5rem;
}

@media (max-width: 800px) {
    .searchbar {
        flex-direction: column; /* Change to column for small screens */
    }
}

.searchbar select, .searchbar input {
    background: var(--foreground);
    color: var(--background);
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: 0.1rem;
    flex: 1 ;
}

.searchbar input::placeholder {
    color: var(--background);
}

    
.searchButton {
    margin-left: 5px;
    padding: 8px 10px;
    background-color: var(--foreground);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    width: auto; /* Đảm bảo kích thước tự động theo nội dung */
    flex: none;                 /* Không cho nút co giãn theo flex */
    align-self: center;         /* Căn giữa nút nếu parent là flex */

}

.searchButton:hover {
    background-color: #005fa3;
}
