/* Container bao bọc cả SearchBar và Button */
.container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin: auto;
    width: auto;
    max-width: 1000px;
}

.searchbar {
    display: flex;
    margin-bottom: 1.5rem;
    background-color: #167db5;
    border-radius: 5px;
    padding: 0.5rem;
}
.label {
    margin-right: 0.5rem;
    color: var(--background);
}

.searchitem {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    flex: 1; /* Allow items to grow equally */
    min-width: 150px; /* Minimum width for each item */
}

.input, .select {
    margin-right: 0.5rem;
}

@media (max-width: 800px) {
    .searchbar {
        flex-direction: column; /* Change to column for small screens */
    }
}

.searchbar select, .searchbar input {
    background: var(--background);
    color: var(--foreground);
    padding: 0.5rem;
    border: 1px solid var(--background);
    border-radius: 5px;
    font-size: 1rem;
    margin: 0.1rem;
    flex: 1;
}

.searchbar input::placeholder {
    color: var(--background);
}

.searchButton {
    margin-left: 5px;
    padding: 8px 10px;
    background-color: var(--foreground);
    color: var(--background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: auto; /* Đảm bảo kích thước tự động theo nội dung */
    flex: none; /* Không cho nút co giãn theo flex */
    align-self: center; /* Căn giữa nút nếu parent là flex */
}

.searchButton:hover {
    background-color: #005fa3;
}