.container {
    margin: 2rem auto;
    max-width: 800px;
    font-family: "Monsterat", sans-serif;
    padding: 5rem;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--foreground);
}

.flightlist {
    list-style: none;

}

.flightitem {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background: var(--background);
    color: var(--foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flightitem:hover {
    background: #D9EAF3;
}

.flightitem .column {
    flex: 2;
    text-align: center;
}

.flightitem .column:first-child {
    flex: 3;
    text-align: left;
}

.flightitem .column:last-child {
    flex: 1;
    text-align: right;
}

.flightitem .purchasebutton {
    background: var(--foreground);
    color: var(--background);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
}
.flightitem .purchasebutton:hover {
    background: #333333;
}


.searchBar {
    display: flex;
    margin-bottom: 1.5rem;
}

.searchBar select, .searchBar input {
    background: var(--foreground);
    color: var(--background);
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    flex: 1;
    margin: 0.1rem;
}

.searchBar input::placeholder {
    color: var(--background);
}


