.container {
    margin: 2rem auto;
    max-width: 800px;
    font-family: "Monsterat", sans-serif;
    padding: 4rem;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--foreground);
}


.searchbar {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .searchbar {
        flex-direction: column; /* Change to column for small screens */
    }
}

.searchbar select, .searchbar input {
    background: var(--foreground);
    color: var(--background);
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;

    margin: 0.1rem;
    flex: 1 ;
}

.searchbar input::placeholder {
    color: var(--background);
}


.flightlist {
    list-style: none;

}

.flightitem {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background: var(--background);
    color: var(--foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flightitem:hover {
    background: #D9EAF3;
}

.flightitem .column {
    flex: 2;
    text-align: center;
}

.flightitem .column:first-child {
    flex: 3;
    text-align: left;
}

.flightitem .column:last-child {
    flex: 1;
    text-align: right;
}

.container button {
    background: var(--foreground);
    color: var(--background);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
}

.searchbar button {
    background: var(--foreground);
    float: right;
}

.flightitem .purchasebutton:hover {
    background: #333333;
}




