.main_image{
  padding: 5px;
  width: 100%;
}

/* Welcome text */
.welcome {
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: var(--background);
  background-color: var(--foreground);;
}

.hotDes{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

/* Destinations grid */
.destinations {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


.destinationCard {
  flex: 1;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

/* Destination text overlay */
.destinationInfo {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width:700px) {
  .destinations{
    flex-direction: column;
  }
}

.offers{
  width: 85%;
  margin: 0 auto; /* Căn giữa phần tử */
  text-align: center; /* Căn giữa nội dung trong offers */
}
/* CSS cho phần Offers */
.offerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.offerCard {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offerCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.offerImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.offerTitle {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Nút Xem thêm */
.viewMoreButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewMoreButton:hover {
  background-color: #0056b3;
}

.viewMoreButton span {
  font-size: 18px;
}
