.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: #167db5;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
  }
  
  .input {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
  }
  
  .textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
  }
  
  .cancelButton {
    background-color: #ccc;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .submitButton {
    background-color: #167db5;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  