.container {
    margin: auto;
    font-family: "Monsterat", sans-serif;
    max-width: 1200px;
    padding: 20px 100px 50px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--foreground);
    font-weight: bold;
    font-size: 30px;
}


.flightlist {
    list-style: none;

}

.flightitem {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background: var(--background);
    color: var(--foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flightitem:hover {
    background: #D9EAF3;
}

.flightitem .column {
    flex: 2;
    text-align: left;
}

.flightitem .column:first-child {
    flex: 3;
    text-align: left;
}

.flightitem .column:last-child {
    flex: 2;
    text-align: right;
}

.container .pricebutton {
    background: var(--foreground);
    color: var(--background);
    border: none;
    padding: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
}

.flightitem button:hover {
    background: #333333;
}

/* Responsive styles */
@media (max-width: 800px) {
    .container {
        padding: 20px 20px 50px;
    }

    .title {
        font-size: 24px;
    }

    .flightitem {
        flex-direction: column;
        align-items: flex-start;
    }

    .flightitem .column {
        flex: 1;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    .flightitem .column:last-child {
        text-align: left;
    }

    .container .pricebutton {
        width: 100%;
        text-align: center;
    }
}


